body { 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: Copperplate, fantasy;
    font-size: 200%;
    color: #9B3922;
}
.select {
    font-weight: normal;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1 {
    font-size: 300%;
}
p {
    margin-left: 40px;
    margin-right: 40px;
}
a {
    color: #c94f34;
}
nav {
    z-index: 9;
    background-color: #000000;
    width: 100vw;
    height: 4vh;
}
.border {
    border-right-style: dashed;
    border-width: 5px;
}
aside {
    z-index: 8;
    position: fixed;
    text-align: center;
    background-color: #ffffff00;
    float: left;
    width: 10%;
    height: 96vh;
    padding-top: 4vh;
}
main {
    text-align: center;
    float: right;
    width: 90%;
    padding-left: 10%;
    height: 192vh;
}
main.aboutme {
    height: 100vh;
}
.grad {
    background-image: linear-gradient(to bottom left, #0C0C0C, #481E14);
}
